datadir="/tmp/rhds-tcga-files/data"
resultsdir="/tmp/rhds-tcga-files/results"
docsdir="/tmp/rhds-tcga-files/docs"

snakemake_args=(--use-apptainer --apptainer-args "--fakeroot -B ${datadir} -B ${resultsdir} -B ${docsdir} -b $(pwd)")

